@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
  max-width: 100%;
}
body {
  min-height: auto;
  background: navy;
  display: flex;
  justify-content: center;
}
main {
  width: 100%;
  max-width: 500px;
  border-bottom: 2px solid #e83a3b;
  border-left: 2px solid #e83a3b;
  border-right: 2px solid #e83a3b;
}
.search-section {
  margin-top: 2rem;
}
.search-section input {
  width: 100%;
  font-size: 1rem;
  font-weight: 500;
  color: #fff;
  padding: 0.4rem 1rem;
  background: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  border-top: 2px solid #fff;
  outline: none;
}
.search-section input::placeholder {
  color: #fff;
}
.result-section {
  margin-top: 1rem;
  text-align: center;
  display: flex;
  padding: 0.5rem;
  padding-bottom: 1rem;
}
.result-section > div {
  width: 49%;
}
.result-section img {
  max-width: 100%;
}
.result-section .info {
  font-weight: 400px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

/*
==================================
        Responsive Section
==================================
*/
@media only screen and (max-width: 600px) {
  main {
    border-right: none;
    border-left: none;
    min-height: 100vh;
  }
  .result-section {
    flex-wrap: wrap;
  }
  .result-section > div {
    width: 100%;
    min-width: 300px;
  }
  .result-section .info {
    padding: 2rem 0;
  }
}
